:root{
    --primary-color:#D0D6F9;
    --white-color:#fff;
    --primary-midnight:#0B0D17;

    --font-weight:400;
    --font-weight-bold:700;

    --h1-size:15rem;
    --h1-line:1.71;

    --line-height:1.15px;

    --h3-size:5.6rem;

    --h4-size:3.2rem;

    --h5-size:2.8rem;
    --h5-line:1.2;

    --letter-spacing:4.72px;

    --primary-text-size:1.8rem;
    --primary-text-line:1.78;

    --nav-text:1.6rem;
    --nav-line:1.2;
    --nav-letter:2.7px;
}

.planets{
background-image: url(../../assets/planet-bac.png);
background-repeat: no-repeat;
background-size: cover;
/* background-position: center; */
}
.planet {
display: flex;
align-items: center;
justify-content: space-around;
padding-top: 8rem;
/* padding-bottom: 10rem; */
}
.planet__img {
display: flex;
flex-direction: column;
height: 67.8rem;
}
.planet__img__info{
display: flex;
align-items: center;
}
.planet__img__number {
font-weight: var(--font-weight-bold);
font-size: var(--h5-size);
line-height: var(--h5-line);
list-style: var(--letter-spacing);
color: var(--primary-color);
}
.planet__img__text {
font-weight: var(--font-weight);
font-size: var(--h5-size);
line-height: var(--h5-line);
list-style: var(--letter-spacing);
color: var(--white-color);
margin-left: 2rem;
}
.planet__img__photo {
margin-top: 6.4rem;
border-radius: 50%;
}

/* PLANET-INFO */

.planet__list {
display: flex;
align-items: center;
margin-bottom: 5.2rem;
}
.planet__item:not(:last-child){
margin-right: 3.5rem;
}
.planet__item__link {
color: var(--primary-color);
text-transform: uppercase;
font-weight: var(--font-weight);
font-size: var(--nav-text);
line-height: var(--nav-letter);
letter-spacing: var(--nav-letter);
}
.planet__tittle {
text-transform: uppercase;
font-weight: var(--font-weight);
font-size: var(--h2-size);
line-height: var(--h2-line);
color: var(--white-color);
margin-bottom: 1.4rem;
}
.plaent__text {
width: 44.4rem;
font-weight: var(--font-weight);
font-size: var(--primary-text-size);
line-height: var(--primary-text-line);
color: var(--primary-color);
margin-bottom: 5.4rem;
}
.planet-hr {
width: 44.4rem;
}
.planet__travel {
display: flex;
margin-top: 2.8rem;
}
.planet__travel__distance {
margin-right: 8rem;
}
.planet__travel__distance__name {
text-transform: uppercase;
margin-bottom: 1.2rem;
font-weight: var(--font-weight);
font-size: var(--primary-text-size);
line-height: var(--primary-text-line);
color: var(--primary-color);
}
.planet__travel__distance__number {
text-transform: uppercase;
font-weight: var(--font-weight);
font-size: var(--h5-size);
line-height: var(--h5-line);
color: var(--primary-color);
}



@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

    .planets{
        background-image: url(../../assets/planet-bac@2x.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        }
}